<footer class="footer">
  <div class="container text-center">
    <div class="row mt-3 mb-3">
      <div class="col-md-6 text-left">
        <a href="/support" class="mr-3">Support</a>
        <a href="/contact" class="mr-3">Kontakt</a>
        <a href="/subscribe" class="mr-3">Forum</a>
        <a href="/blog" class="mr-3">Blog</a>
      </div>
      <div class="col-md-6 text-right">
        <a href="https://www.linkedin.com/in/andreas-gropp-a786a219/" class="fab fa-linkedin fa-2x mr-1" target="_blank"></a>
        <a href="https://github.com/starmaerker" class="fab fa-github fa-2x mr-1" target="_blank"></a>
        <a href="https://twitter.com/starmaerker" class="fab fa-twitter fa-2x mr-1" target="_blank"></a>
        <a href="https://www.hackerrank.com/starmaerker" class="fab fa-hackerrank fa-2x mr-1" target="_blank"></a>
        <a href="mailto:starmaerker@googlemail.com" class="far fa-envelope fa-2x"></a>
      </div>
    </div>
  </div>
</footer>
